<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spoonfed Pekzep</title>
    </head>
    <body>
        English: {{ english }}<br>
        Chinese: <span lang="zh">{{ chinese_hanzi }}</span><br>
        Chinese (pinyin): {{ chinese_pinyin|capitalizefirstchar }}<br>
        <hr>
        Pekzep (latin transcription): {{ pekzep_latin }}<br>
        Pekzep (hanzi transcription): <span lang="ja">{{ pekzep_hanzi }}</span><br>
        Sound: <audio controls=""><source src="spoonfed_pekzep_sounds/{{ audio_path }}.wav" type="audio/wav">
            Your browser does not support the audio element.
            </audio><br>
        <a href="{{ prev_link }}.html">← Previous</a>&nbsp;&nbsp;&nbsp;
        <a href="index.html">Index</a>&nbsp;&nbsp;&nbsp;
        <a href="{{ next_link }}.html">Next →</a>

    </body>
</html>