<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spoonfed Pekzep</title>
    </head>
    <body>
        <a href="{{ prev_link }}.html">← Previous</a>&nbsp;&nbsp;&nbsp;
        <a href="../index.html">Index</a>&nbsp;&nbsp;&nbsp;
        <a href="{{ next_link }}.html">Next →</a><br>
        <hr>
        English: <span lang="en">{{ english }}</span><br>
        Chinese: <span lang="zh">{{ chinese_hanzi|normalize_chinese_punctuation|normalize_a_b_dialogue }}</span><br>
        Chinese (pinyin): <span lang="zh-Latn">{{ chinese_pinyin|capitalize_first_char }}</span><br>{% if has_japanese %}
        Japanese: <span lang="ja">{{ japanese }}</span><br>{% endif %}
        <hr>
        Pekzep (latin transcription): {{ pekzep_latin }}<br>
        Pekzep (hanzi transcription): <span lang="ja">{{ pekzep_hanzi }}</span><br>
        Pekzep (linzklā): <span style="filter:brightness(65%) contrast(500%);">{{ pekzep_images|safe }}</span><br>
        {% if has_audio %}<span style="vertical-align: middle;">Sound</span><svg style="width:24px;height:24px; vertical-align: middle" viewBox="0 0 24 24">
            <g>
                <title>Recording by {{ author_name }} / 这是{{ author_name }}的录音。</title>
                <circle cx="12" cy="8" r="4" fill="{{ author_color }}" />
                <circle cx="12" cy="26" r="12" fill="{{ author_color }}" />
                <polygon fill="white" points="0,0 4,0 4,20 20,20 20,0 24,0 24,24 0,24" />
            </g>
        </svg>: <audio style="vertical-align: middle;" controls="">{{ wav_tag|safe }}
            {{ oga_tag|safe }}
            Your browser does not support the audio element.
            </audio><br>
        {% endif %}Analysis: {{ analysis|convert_into_multiple_tables|safe }}
    </body>
</html>