<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spoonfed Pekzep</title>
    </head>
    <body>
        <a href="{{ prev_link }}.html">← Previous</a>&nbsp;&nbsp;&nbsp;
        <a href="../index.html">Index</a>&nbsp;&nbsp;&nbsp;
        <a href="{{ next_link }}.html">Next →</a><br>
        <hr>
        English: {{ english }}<br>
        Chinese: <span lang="zh">{{ chinese_hanzi }}</span><br>
        Chinese (pinyin): {{ chinese_pinyin|capitalizefirstchar }}<br>
        <hr>
        Pekzep (latin transcription): {{ pekzep_latin }}<br>
        Pekzep (hanzi transcription): <span lang="ja">{{ pekzep_hanzi }}</span><br>
        Pekzep (linzklā): <span style="filter:brightness(65%)contrast(500%);">{{ pekzep_imgs|safe }}</span><br>
        Sound: <audio controls="">{{ wav_tag|safe }}
            <source src="../spoonfed_pekzep_sounds/{{ audio_path_oga }}.oga" type="audio/ogg">
            Your browser does not support the audio element.
            </audio><br>
        Analysis: {{ analysis|linebreaksandtabs|safe }}
    </body>
</html>